.body{
    background-color: #dddada;
 font-size: 16px;
 font-weight: normal

}
.sai{
    max-width: 40px;
}
.wrapper{
   float: left;
   position: relative; 
   
}
.avatar{
max-width: 200px ;
border-radius: 15%;
box-shadow: 19px -7px 20px 0px #564e4e;
margin: 20px;
}

.text1{
    border-left: 20px;
    margin: 20px;
    
}

.full{
 max-width: 700px;
 margin: auto;
 background-color: rgb(255, 255, 255);
 border-radius: 25px;
}

.text-redact20  {
    margin: 40px;
   
}
.flutter > div{

} 
.heathre  {
float: left;
    display: flex; 
    width: 100%;
} 

.font{
    font:    16px/2 cursive; 
}
/* /////////////////////// */

.switche {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display: block;;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #424243;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #424243;
  }
  
   input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  } 
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }